html {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
body {
  padding: 1em;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
p > span {
  display: inline-block;
  width: 30px;
  height: 16px;
  vertical-align: middle;
}
a {
  color: hsla(0, 0%, 100%, 0.5);
  transition-property: color;
  transition-duration: 0.2s;
}
a:hover {
  color: hsla(0, 0%, 100%, 1);
}
table {
  border-collapse: collapse;
  font-size: 12px;
}
th,
td {
  padding: 12px;
  border: 1px solid #444444;
}
th {
  font-size: 14px;
}
td {
  max-width: 130px;
}
td:first-child {
  max-width: 200px;
}
.disabled {
  background-color: #222222;
}
.recommended {
  background-color: #008200;
}
.unsafe {
  background-color: #6d0000;
}
.good,
.bad {
  display: inline-block;
  padding-left: 24px;
  margin-top: 4px;
  min-height: 20px;
  background-repeat: no-repeat;
  color: white;
}
.good:first-child,
.bad:first-child {
  margin-top: 0px;
}
.good {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA9ElEQVQ4y2P4//8/AzUxw6Ay0GG/A4vlFu8SEAaxKTIQbNg2r1WWW73+g/EW79UgMeoYhsAzSDYsdFUoM1DjSiyG/bfa6vWIZMOAmlZgMwyI/1hs8wwHK7TY7qEAFDhhsdXrOFCDPC7DgBqW4zEsGhwpUMMeIEnet9nsK0eOYWADQS7Douiu6U43WaQwW0aMYfgMBOE7IO8D6aXEGobLy8j4OymGwRO22SZfRaCihzg0E20YSk6x2eKtBEpHlBiGkfVAhgI1PSbXMKx52WqbpzIWQ4kyDGfhYLnDXQXJUKINw1vagGLfYot3j/lWL9ehW8BiwwA8jA6GeQxGVAAAAABJRU5ErkJggg==);
}
.bad {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAqklEQVQ4y7WVSxKDIBBE+0DmINnk0J7BpSZZewNXI00BhRXRSdku2gU0r5wPA8wM1Bd4foAhqB+BLq+3RA+9PMOzeT1+3sArbCxBljRPwKMF4x49lX8hIwLTn9WwQ+gOrEDJQgrTGtpAD2BZA1Ie7AzqgFF9Tu6ZcfZ4yPKGYp4oSpUvQjd59lbQBfsB/gndbat7gdKQpUWRto28seVXTz4c5ONLPmDVT8AKvHEh2mU9JE0AAAAASUVORK5CYII=);
}
